krb5-config	krb5-config/default_realm	string	{{ default_realm|upper }}
krb5-config	krb5-config/admin_server	string	{{ admin_server }}
krb5-config	krb5-config/kerberos_servers	string	{{ kerberos_servers }}
